<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 2: Record Order</title>
</head>
<body>
    <h2>Step 2: Record Order</h2>
    <p>MAKE YOUR ORDER USING HAND GESTURES </p>
    <p>IF YOU WANT COFFEE SHOW 1 FINGER</p>
    <p>IF YOU WANT TEA SHOW TWO FINGERS</p>
    <div>Your order:</div>
    <form action="/finger_counter" method="post">
        <button id="nextStep2">MAKE ORDER</button>
    </form>
    <!-- INGA HAND_GEST FUNCTION CALL AAGI  RENDER TEMPLATE LA STEP3 LA CALL PANNI RESULT AA PARAMATER LA PASS PANIRUVOOM -->
    <!--<a href="step3.html">Next</a> -->
</body>
</html>
