<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 2: Record Order</title>
</head>
<body>
    <h2>Step 2: Record Order</h2>
    <p>MAKE YOUR ORDER THROUGH VOICE COMMAND</p>
    <p>IF YOU WANT COFFEE SAY "COFFEE"</p>
    <p>IF YOU WANT TEA SAY "TEA"</p>
    <a href="voice_front.html">MAKE ORDER</a>
    <!-- INGA voice_rec FUNCTION CALL AAGI  RENDER TEMPLATE LA STEP3 yA CALL PANNI RESULT AA PARAMATER LA PASS PANIRUVOOM -->
    <a href="step3.html">Next</a>
</body>
</html>
