<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 2: Record Order</title>
</head>
<body>
    <h2>Step 2: Record Order</h2>
    <p>MAKE YOUR ORDER THROUGH EYE GESTURES </p>
    <p>IF YOU WANT COFFEE BLINK 1 TIME</p>
    <p>IF YOU WANT TEA BLINK 2 TIMES</p>
    <form action="/eye_gesture" method="post">
        <button id="nextStep2">MAKE ORDER</button>
    </form>
    <!-- INGA eye_gest FUNCTION CALL AAGI  RENDER TEMPLATE LA STEP3 yA CALL PANNI RESULT AA PARAMATER LA PASS PANIRUVOOM -->
    <a href="step3.html">Next</a>
</body>
</html>
